/* Use the # to specify an element by ID */
#registerCard {
	width: 60%;
	margin: auto;
	margin-bottom: 20px;
	margin-top: 20px;
	padding: 30px;
}

#loginCard {
	width: 60%;
	margin: auto;
	margin-bottom: 20px;
	margin-top: 20px;
	padding: 30px;
}

/* Use the . to specify an element by class name. */
.md-title, .md-subhead .md-signup {
	text-align: center;
}

#toolbarTitle {
	test-align: center;
}


.codeNowTitle{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 7vh;
	background-color: white;
}

.codenowlogo{
	height:20vh;
}
