<div id = "login">
	<md-content layout = "column">
    	<div>

    		<!-- Login Card - the top card on /login used to log in users -->
    		<md-card id = "loginCard">
      			<md-card-header>
					<!--<div class="codeNowTitle">-->
						<!--<img class= "codenowlogo" src ='../../images/codenow%20logo%20large.png' />-->
					<!--</div>-->
            		<md-card-header-text>
                		<span class="md-title">Login</span>
            		</md-card-header-text>
        		</md-card-header>

            <!-- Input Fields -->
      			<md-input-container>
        			<label>Username</label>
        			<input ng-model=login_name>
      			</md-input-container>

      			<md-input-container>
        			<label>Password</label>
        			<input type= "password" ng-model=password>
      			</md-input-container>

            <!-- Login Button -->
      			<md-input-container>
    					<div layout="row">
    						<md-button class="md-flat md-primary" ng-click="loginClick()">Login</md-button>
    					</div>
							<md-button ng-href="#!/signup">Don't have an account? Sign up</md-button>
    				</md-input-container>
			 </md-card>

    	</div>
  	</md-content>
</div>
