

<!--<div className="flexGrowColumn relative">-->
	<div class="codeNowTitle">
		<img class= "codenowlogo" src ='../../images/codenow%20logo%20large.png' />
	</div>
	<div class="navRow">
			<a class="submit NavButtons" ng-href="#!/projects/new">submit</a>
			<a class="projects NavButtons" ng-href="#/home">projects</a>
	</div>
	<!-- <div class="projectsBot scrollable">
		<div class="project" ng-repeat="project in projectList">
			<a ng-href="#!/project/{{project._id}}">
				<div class="projRow">
					<span class="md-deadline ellipsis">{{project.title}} </span>
					<span class="subdate">18/11/2017</span>
				</div>
				<span class="descriptionTag ellipsis">Description: {{project.description}} </span>
				<div class="projRow">
					<span class="tag ellipsis">{{project.tag}} </span>
					<div class="dateWrapper">
						<span class="duedate">Due</span>
						<div class="actualDate">23/11/17</div>
					</div>
				</div>
			</a>
		</div>
	</div> -->
	<div class="projectsBot scrollable">
		<div class="project" ng-repeat="project in projectList" ng-click= "go(project._id)" >
				<div class="projRow">
					<span class="projectTitle ellipsis">{{project.title}} </span>
					<span class="subdate">18/11/2017</span>
				</div>
				<span class="ellipsizedText ellipsis"><i>Description: </i>{{project.description}} </span>
				<div class="projRow">
					<span class="tag ellipsis">{{project.tag}} </span>
				</div>
		</div>
	</div>


<!--</div>-->
