
<md-content layout = "column">
    <div>
        <md-card id = "detailCard">
          <md-card-content>
          <div class= "italic green" ng-if="main.user_type == 'Admin' && project.reviewed">This project has been approved for student viewing.</div>
          <div class= "italic red" ng-if="main.user_type == 'Admin' && !project.reviewed">This project has been not approved for student viewing.</div>
          <div class = "flex_row spaceInbetween">
            <md-button  class='blueButton' ng-if="main.user_type == 'Admin' && !project.reviewed" ng-click="approve()">Approve</md-button>
            <md-button   class='greyButton' ng-if="main.user_type == 'Admin'" ng-click="edit()">Edit</md-button>
          </div>
        <!-- <div class="flex_col" ng-if="main.user_type == 'Admin' &&  project.reviewed">
            <div class="text-center"> Assign students to this project!</div>
            <div class='flex_row'>
              <md-input-container class ="removeMarginsAndPaddingInput" flex-gt-sm>
                  <label>Assign by username</label>
                  <input ng-model="studentUsernameAdd">
              </md-input-container>
              <md-button class="blueButton" ng-click="assignStudent(studentUsernameAdd)">+</md-button>
            </div>
            <div class="flex_row">
              <md-input-container class ="removeMarginsAndPaddingInput"  flex-gt-sm>
                  <label>Remove by username</label>
                  <input ng-model="studentUsernameRemove">
              </md-input-container>
              <md-button class="redButton" ng-click="removeStudent(studentUsernameRemove)">-</md-button>
            </div>
          </div> -->
        </md-card-content>
            <!-- Submit Card  - the card to submit a new Project-->
            <div class= 'flex_col titlecard'>

              <hr ng-if="main.user_type == 'Admin'">
                <div class="flex_row justifyCenter">
										<span class="md-title">{{project.title}}</span>
                </div>
            </div>

            <md-card-content>
									<div class = "flex_row ">
										<div>Tags:</div>
										<div class="tag ellipsis table_left">{{project.tag}} </div>
									</div>
                	<div class= "descr_padding">{{project.description}}</div>
                	<div class= 'contactclass '>
									<div class = "flex_row">
										<img src="../images/ic_perm_identity_black_24px.svg"/>
										<div class= "table_left">{{project.community_member}}</div>
									</div>
 									<div  class = "flex_row" ng-click='sendMail(project.email,"CodeNow: Project Submission","")'>
										<img src="../images/ic_email_black_24px.svg"/>
 										<div class = 'emailTo table_left'>{{project.email}} </div>
									</div>
									<div class = "flex_row ">
										<img src="../images/ic_phone_black_24px.svg"/>
										<div class= "table_left">{{project.contact_number}}</div>
									</div>
									</div>
									<div>Assigned students:</div>
                  <div class="marging-left">{{assignedString}}</div>
									<!-- <div ng-repeat="student in project.assigned_students">
										<span>{{student}} </span>
									</div> -->
                  <div ng-if="main.user_type == 'Student' && project.reviewed"  class= 'flex_row like_bar'>
                    <md-button class='orangeButton' ng-click='sendMail("mike@codenow.com","CodeNow: Apply to " + project.title,"Student with username " + main.login_name + " is applying to be part of the " + project.title + " team. (Be sure not to remove this line!)")'>Apply</md-button>
									</div>
                  <div class="flex_col assignments" ng-if="main.user_type == 'Admin' &&  project.reviewed">
                      <div class="text-center"> Assign students to this project!</div>
                        <md-input-container class ="removeMarginsAndPaddingInput" flex-gt-sm>
                            <label>Assign by username</label>
                            <input ng-model="studentUsername">
                        </md-input-container>
                      <div class="flex_row ">
                        <md-button class="blueButton" ng-click="assignStudent(studentUsername)">+</md-button>
                        <md-button class="redButton" ng-click="removeStudent(studentUsername)">-</md-button>
                      </div>
                    </div>
            </md-card-content>
        </md-card>
    </div>
</md-content>
