
<md-content layout = "column">
    <div>
        <md-card id = "detailCard">
            <!-- Submit Card  - the card to submit a new Project-->
            <md-card-header>
                <md-card-header-text>
										<span class="md-title">{{project.title}}</span>
                </md-card-header-text>
            </md-card-header>

            <md-card-content>
									<div class = "flex_row ">
										<div>Tags:</div>
										<div class="tag ellipsis table_left">{{project.tag}} </div>
									</div>
                	<div class= "descr_padding">{{project.description}}</div>
                	<div class= 'contactclass '>
									<div class = "flex_row">
										<img src="../images/ic_perm_identity_black_24px.svg"/>
										<div class= "table_left">{{project.community_member}}</div>
									</div>
 									<div  class = "flex_row" ng-click='sendMail(project.email,"CodeNow: Project Submission","")'>
										<img src="../images/ic_email_black_24px.svg"/>
 										<div class = 'emailTo table_left'>{{project.email}} </div>
									</div>
									<div class = "flex_row ">
										<img src="../images/ic_phone_black_24px.svg"/>
										<div class= "table_left">{{project.contact_number}}</div>
									</div>
									</div>
									<hr>
									<div class= 'flex_row like_bar'>
									<i class="fa fa-heart like" aria-hidden="true" ng-click="like()"></i>
									<!-- PROBLEM HERE! WE NEED TO MAKE THIS INTO A STRING! -->
									<div class = 'ellipsizedText ellipsis table_left'>{{like_string}}</div>
									</div>
									<hr>
									<div>{{project.reviewed}}</div>
            </md-card-content>
        </md-card>
    </div>
</md-content>
